<p id="notice"><%= notice %></p>

<h1>Listing Segundos</h1>

<table>
  <thead>
    <tr>
      <th>Idsegundo</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @segundos.each do |segundo| %>
      <tr>
        <td><%= segundo.idsegundo %></td>
        <td><%= segundo.name %></td>
        <td><%= segundo.description %></td>
        <td><%= link_to 'Show', segundo %></td>
        <td><%= link_to 'Edit', edit_segundo_path(segundo) %></td>
        <td><%= link_to 'Destroy', segundo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Segundo', new_segundo_path %>
