<p id="notice"><%= notice %></p>

<p>
  <strong>Idsegundo:</strong>
  <%= @segundo.idsegundo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @segundo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @segundo.description %>
</p>

<%= link_to 'Edit', edit_segundo_path(@segundo) %> |
<%= link_to 'Back', segundos_path %>
