<!DOCTYPE html>
<html>
<head>
  <title>Menuonrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">

<%= render "shared/header" %>

<div class="container">
<%= yield %>
</div>

<%= render "shared/footer" %>
</body>
</html>
